#main_table{
	width:100%;
}

#main_table td{
	height:60px;
}
#main_table tr,td {
     width:auto;
}
.form-check input,label{
	font-size:14px;
	font-color:blue;
	color:blue;
}

button{
	width:100%;
}

input{
	width:100%;
}

